@use 'lib' as *;

.offers {
	$self: &;

    background: #F6F7FB;
    padding: 52px 0px;
    overflow: hidden;

    @include media("<=xs") {
        padding: 32px 0px;
    }

	&__container {

	}

	&__title {
        margin-bottom: 32px;
	}

	&__swiper.swiper {
        overflow: visible;
	}

}
