@use 'lib' as *;

.promo {
	$self: &;

    max-width: 1920px;
    width: 100%;

    @include media("<=xs") {
        border-bottom: 1px solid #EAE9F3;
    }

	&__container {
        display: flex;
	}

	&__swiper.swiper {
        height: 100%; width: 100%;

        .swiper-navigation {
            position: absolute;
            bottom: 78px; left: 50%;
            transform: translateX(-50%);
            z-index: 10;
            display: flex;
            justify-content: end;
            pointer-events: none;

            @include media("<=sm") {
                display: none;
            }
        }

        .swiper-pagination {
            display: flex;
            flex-direction: row;
            gap: 12px;
            position: absolute;
            bottom: 100px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 10;
            pointer-events: auto;
            
            span {
                width: 10px; height: 10px;
                border-radius: 100%;
                background-color: #fff;
                transition: all var(--trans);
            }

            span.swiper-pagination-bullet-active {
                background-color: var(--red);
            }

            @include media("<=sm") {
                display: none;
            }
        }
	}

}
