<section class="advantages">
    <div class="advantages__container container">
        <div class="advantages__item">
            <div class="advantages__item-icon">
                <img loading="lazy" alt="image" src="./img/advantages/1.webp">
            </div>
            <p class="advantages__item-text">
                Непревзойденное качество
                и забота о пациенте
            </p>
        </div>
        <div class="advantages__item">
            <div class="advantages__item-icon">
                <img loading="lazy" alt="image" src="./img/advantages/2.webp">
            </div>
            <p class="advantages__item-text">
                Прозрачная ценовая <br>
                политика
            </p>
        </div>
        <div class="advantages__item">
            <div class="advantages__item-icon">
                <img loading="lazy" alt="image" src="./img/advantages/3.webp">
            </div>
            <p class="advantages__item-text">
                Специалисты высокого <br>
                класса
            </p>
        </div>
        <div class="advantages__item">
            <div class="advantages__item-icon">
                <img loading="lazy" alt="image" src="./img/advantages/4.webp">
            </div>
            <p class="advantages__item-text">
                Здоровье пациента — <br>
                наш приоритет
            </p>
        </div>
    </div>
</section>