<div data-cookies-js class="cookies">
    <p class="cookies__text">
        Мы используем cookie. Это позволяет нам анализировать взаимодействие посетителей с сайтом и делать его лучше. Продолжая пользоваться сайтом, вы соглашаетесь с <a href="#">политикой защиты и обработки персональных данных.</a>
    </p>
    <button type="button" aria-label="Принять" class="cookies__btn btn btn-green">ПРИНЯТЬ</button>
    <div class="cookies__close">
        <svg><use xlink:href="#close"></use></svg>
    </div>
</div>