<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="stylesheet" href="style.css?v=0">

    <script src="https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&lang=ru_RU" type="text/javascript"></script>
    <script type="text/javascript">
        ymaps.ready(init);
        function init() {
            var myMap = new ymaps.Map("map", {
                center: [55.209673, 61.280571],
                zoom: 15
            });
            var myPlacemark = new ymaps.Placemark(
                [55.209673, 61.280571],
                {
                    balloonContent: '<strong>Свои Люди</strong>',
                    hintContent: 'Свои Люди'
                },
                {
                    preset: 'islands#redIcon',
                    draggable: false
                }
            );

            // Добавляем метку на карту
            myMap.geoObjects.add(myPlacemark);
        }
    </script>


    <title></title>
</head>

<body @@if(this.id){id="@@id" }>