<header data-header-js class="header">
    <div class="header__container">
        <div class="header__top">
            <div class="header__top-container container">
                <a href="tel:+73512254036" class="header__top-link header__call header__top_in-mobile">
                    <svg>
                        <use xlink:href="#phone"></use>
                    </svg>
                    +7 (351) 225‒40‒36
                </a>
                <a href="#" class="header__btn-mobile btn btn-green header__top_in-mobile">
                    <span>Заказать звонок</span>
                </a>
                <a href="#" class="header__top-link header__address header__top_in-mobile">
                    <svg>
                        <use xlink:href="#location"></use>
                    </svg>
                    Челябинск, ​Краснопольский проспект, 23
                </a>
                <ul class="header__schedule header__top_in-mobile">
                    <li>ПН-ПТ 9.00—20.00</li>
                    <li>СБ 9.00—18.00 </li>
                    <li><b>ВС</b> выходной</li>
                </ul>
                <div class="header__link-icons header__top_in-mobile">
                    <a href="#" class="header__link-icon icon-link">
                        <img loading="lazy" alt="image" src="./img/icons-1/telega.svg">
                    </a>
                    <a href="#" class="header__link-icon icon-link">
                        <img loading="lazy" alt="image" src="./img/icons-1/whatsapp.svg">
                    </a>
                </div>
            </div>
        </div>
        <div class="header__main">
            <div class="header__main-container container">
                <button type="button" aria-label="Меню" class="header__burger">
                    <div class="header__burger-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <span>МЕНЮ</span>
                </button>
                <a href="./" class="header__logo">
                    <img loading="lazy" alt="image" src="./img/logo.svg">
                </a>
                <ul class="header__list">
                    <li class="header__list-item header__accordeon">
                        <a href="#">
                            О стоматологии
                            <button type="button" aria-label="Открыть" class="header__accordeon-btn">
                                <img loading="lazy" alt="image" src="./img/icons-1/arrow-down.svg">
                            </button>
                        </a>
                        <ul class="header__accordeon-list">
                            <li class="header__accordeon-link"><a href="#">Имплантация</a></li>
                            <li class="header__accordeon-link"><a href="#">Протезирование</a></li>
                            <li class="header__accordeon-link"><a href="#">Лечение зубов</a></li>
                            <li class="header__accordeon-link"><a href="#">Удаление зубов</a></li>
                            <li class="header__accordeon-link"><a href="#">Детский приём</a></li>
                            <li class="header__accordeon-link"><a href="#">Гигиена полости рта</a></li>
                            <li class="header__accordeon-link"><a href="#">Отбеливание</a></li>
                            <li class="header__accordeon-link"><a href="#">Реставрация зубов</a></li>
                        </ul>
                    </li>
                    <li class="header__list-item header__accordeon">
                        <a href="#">
                            Услуги
                            <button type="button" aria-label="Открыть" class="header__accordeon-btn">
                                <img loading="lazy" alt="image" src="./img/icons-1/arrow-down.svg">
                            </button>
                        </a>
                        <ul class="header__accordeon-list">
                            <li class="header__accordeon-link"><a href="#">Имплантация</a></li>
                            <li class="header__accordeon-link"><a href="#">Протезирование</a></li>
                            <li class="header__accordeon-link"><a href="#">Лечение зубов</a></li>
                            <li class="header__accordeon-link"><a href="#">Удаление зубов</a></li>
                            <li class="header__accordeon-link"><a href="#">Детский приём</a></li>
                            <li class="header__accordeon-link"><a href="#">Гигиена полости рта</a></li>
                            <li class="header__accordeon-link"><a href="#">Отбеливание</a></li>
                            <li class="header__accordeon-link"><a href="#">Реставрация зубов</a></li>
                        </ul>
                    </li>
                    <li class="header__list-item">
                        <a href="#">Выгодные предложения</a>
                    </li>
                    <li class="header__list-item">
                        <a href="#">Команда</a>
                    </li>
                    <li class="header__list-item">
                        <a href="#">Наши работы</a>
                    </li>
                    <li class="header__list-item">
                        <a href="#">Отзывы</a>
                    </li>
                    <li class="header__list-item">
                        <a href="#">Контакты</a>
                    </li>
                </ul>
                <button type="button" aria-label="Заказать звонок" class="header__btn btn btn-green">
                    <svg><use xlink:href="#phone"></use></svg>
                    <span>Заказать звонок</span>
                </button>
            </div>
        </div>
    </div>
    <div class="header__mobile-menu">
        <div class="header__mobile-container container">
            <div class="header__mobile-column header__mobile-column_left">

            </div>
            <div class="header__mobile-column header__mobile-column_right">

            </div>
        </div>
    </div>
</header>