<section class="info-block">
    <div class="info-block__container container">
        <div class="info-block__content container">
            <h2 class="info-block__title title title-32">Мы подберем удобное для вас время — в день обращения</h2>
            <div class="info-block__items">
                <div class="info-block__item">
                    <img loading="lazy" src="./img/info-block/1.svg" alt="" class="info-block__item-image">
                    <h5 class="info-block__item-title">Фиксированная цена</h5>
                    <p class="info-block__item-text">
                        Стоимость услуг прописывается
                        в договоре и не меняется в процессе
                        лечения
                    </p>
                </div>
                <div class="info-block__item">
                    <img loading="lazy" src="./img/info-block/2.svg" alt="" class="info-block__item-image">
                    <h5 class="info-block__item-title">Оптимальный план лечения</h5>
                    <p class="info-block__item-text">
                        Наши специалисты составят оптимальный план лечения, учитывая все ваши индивидуальные особенности
                    </p>
                </div>
                <div class="info-block__item">
                    <img loading="lazy" src="./img/info-block/3.svg" alt="" class="info-block__item-image">
                    <h5 class="info-block__item-title">Знакомство  с клиникой</h5>
                    <p class="info-block__item-text">
                        В момент посещения вы увидите заботливое отношение нашей команды и познакомитесь с доктором
                    </p>
                </div>
            </div>
        </div>
        <div class="info-block__side">
            <form action="" class="info-block__form container">
                <div class="custom-input">
                    <span>Ваше имя<b>*</b></span>
                    <input type="text" required>
                </div>
                <div class="custom-input">
                    <span>Ваш контактный телефон<b>*</b></span>
                    <input type="text" required>
                </div>
                <button type="button" aria-label="Отправить" class="info-block__form-btn btn btn-green">ЗАПИСАТЬСЯ НА ПРИЕМ</button>
                <p class="info-block__form-text">
                    Нажимая на кнопку «Записаться на прием», вы даете согласие
                    на обработку персональных данных и соглашаетесь 
                    c <a href="#">политикой конфиденциальности.</a>
                </p>
            </form>
        </div>
    </div>
</section>