<section class="location">
    <div class="location__container">
        <div class="map">
            <img loading="lazy" alt="image" src="./img/map.webp">
        </div>
        <div class="location__content">
            <div class="location__content-container container">
                <h2 class="location__title">Стоматология «Свои люди»</h2>
                <p class="location__adreess">
                    Челябинск,
                    Краснопольский <br>
                    проспект, 23
                </p>
                <a href="#" class="location__tel">+7 (351) 225‒40‒36</a>
                <button type="button" aria-label="Заказать звонок" class="location__btn btn btn-green">ЗАПИСАТЬСЯ НА ПРИЕМ</button>
            </div>
        </div>
        <div class="location__decor container"></div>
    </div>
</section>