<section data-offers-js class="offers">
    <div class="offers__container container">
        <h2 class="offers__title title title-32">Выгодные предложения</h2>
        <div class="offers__swiper swiper">
            <div class="swiper-wrapper">
                @@include("_offers-card.html", {
                    "cardClass": "swiper-slide",
                    "cardTitle": "Лечение кариеса с 4 лет",
                    "cardImg": "1",
                    "cardName": "Маркова Полина Владимировна",
                    "cardDesc": "Врач стоматолог общей практики",
                    "cardPrice": "4 150 ₽"
                })
                @@include("_offers-card.html", {
                    "cardClass": "swiper-slide",
                    "cardTitle": "Лечение кариеса с 4 лет",
                    "cardImg": "1",
                    "cardName": "Маркова Полина Владимировна",
                    "cardDesc": "Врач стоматолог общей практики",
                    "cardPrice": "4 150 ₽"
                })
                @@include("_offers-card.html", {
                    "cardClass": "swiper-slide",
                    "cardTitle": "Лечение кариеса с 4 лет",
                    "cardImg": "1",
                    "cardName": "Маркова Полина Владимировна",
                    "cardDesc": "Врач стоматолог общей практики",
                    "cardPrice": "4 150 ₽"
                })
            </div>
        </div>
    </div>
</section>