<section data-promo-js class="promo p-top">
    <div class="promo__container">
        <div class="promo__swiper swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide promo-item" style="background-color: #C5E7FF; color: #ffffff; --card-color: #55A3D6; --decor-color: #61ade1; --list-color: #74C0F2; --btn-color: #FFFFFF;">
                    <div class="promo-item__container">
                        <div class="promo-item__decor">
                            <div class="promo-item__decor-draw">
                                <img src="./img/draw-light-blue.svg" alt="" loading="lazy" class="">
                            </div>
                            <div class="promo-item__decor-color"></div>
                        </div>
                        <div class="promo-item__content container">
                            <div class="promo-item__body">
                                <h3 class="promo-item__title title">Детская стоматология</h3>
                                <ul class="promo-item__list">
                                    <li>Лечение молочных зубов</li>
                                    <li>Удаление молочных зубов</li>
                                    <li>Установка коронок</li>
                                    <li>Установка сохранителя места</li>
                                    <li>Профессиональная гигиена и профилактика</li>
                                </ul>
                                <button type="button" aria-label="Записаться на прием" class="promo-item__btn btn">ЗАПИСАТЬСЯ НА ПРИЕМ</button>
                            </div>
                            <div class="promo-item__image">
                                <div class="promo-item__color"></div>
                                <img loading="lazy" alt="image" src="./img/promo/1.webp">
                            </div>
                        </div>
                        <div class="promo-item__empty"></div>
                        <img loading="lazy" alt="image" src="./img/draw-light-blue-1.svg" class="promo-item__decor-right">
                    </div>
                </div>
                <div class="swiper-slide promo-item" style="background-color: #514F6E; color: #ffffff; --card-color: #514F6E; --decor-color: #9493A9; --btn-color: #00A9B4;">
                    <div class="promo-item__container">
                        <div class="promo-item__decor">
                            <div class="promo-item__decor-draw">
                                <img src="./img/draw-violet.svg" alt="" loading="lazy" class="">
                            </div>
                            <div class="promo-item__decor-color"></div>
                        </div>
                        <div class="promo-item__content container">
                            <div class="promo-item__body">
                                <h3 class="promo-item__title promo-item__adreess title">
                                    <b>Наш адрес:</b>
                                    Челябинск,
                                    Краснопольский
                                    проспект, 23
                                </h3>
                                <button type="button" aria-label="Записаться на прием" class="promo-item__btn btn">ЗАПИСАТЬСЯ НА ПРИЕМ</button>
                            </div>
                            <div class="promo-item__image">
                                <div class="promo-item__color"></div>
                                <img loading="lazy" alt="image" src="./img/promo/2.webp">
                            </div>
                        </div>
                        <div class="promo-item__empty"></div>
                        <img loading="lazy" alt="image" src="./img/draw-violet-1.svg" class="promo-item__decor-right">
                    </div>
                </div>
                <div class="swiper-slide promo-item" style="background-color: #C5E7FF; color: #ffffff; --card-color: #1B1E73; --decor-color: #1B3792; --list-color: #2B56B0; --btn-color: #FFFFFF;">
                    <div class="promo-item__container">
                        <div class="promo-item__decor">
                            <div class="promo-item__decor-draw">
                                <img src="./img/draw-blue.svg" alt="" loading="lazy" class="">
                            </div>
                            <div class="promo-item__decor-color"></div>
                        </div>
                        <div class="promo-item__content container">
                            <div class="promo-item__body">
                                <h3 class="promo-item__title title">
                                    Имплантация
                                    и протезирование</h3>
                                <ul class="promo-item__list">
                                    <li>Индивидуальный план имплантации</li>
                                    <li>Концепция All on 4</li>
                                    <li>Цифровое протезирование</li>
                                    <li>Современные лицензионные материалы</li>
                                    <li>Виниры</li>
                                </ul>
                                <button type="button" aria-label="Записаться на прием" class="promo-item__btn btn">ЗАПИСАТЬСЯ НА ПРИЕМ</button>
                            </div>
                            <div class="promo-item__image">
                                <div class="promo-item__color"></div>
                                <img loading="lazy" alt="image" src="./img/promo/3.webp">
                            </div>
                        </div>
                        <div class="promo-item__empty"></div>
                        <img loading="lazy" alt="image" src="./img/draw-blue-1.svg" class="promo-item__decor-right">
                    </div>
                </div>
                <div class="swiper-slide promo-item" style="background-color: #C5E7FF; color: #ffffff; --card-color: #1A73DA; --decor-color: #2786E9; --list-color: #4BA3FF; --btn-color: #FFFFFF;">
                    <div class="promo-item__container">
                        <div class="promo-item__decor">
                            <div class="promo-item__decor-draw">
                                <img src="./img/draw-dark-blue.svg" alt="" loading="lazy" class="">
                            </div>
                            <div class="promo-item__decor-color"></div>
                        </div>
                        <div class="promo-item__content container">
                            <div class="promo-item__body">
                                <h3 class="promo-item__title title">
                                    Лечение <br> зубов</h3>
                                <ul class="promo-item__list">
                                    <li>Лечение кариеса</li>
                                    <li>Эндодонтическое лечение зубов</li>
                                    <li>Профессиональная гигиена</li>
                                    <li>Эстетическая реставрация</li>
                                    <li>Микропротезирование E-max</li>
                                </ul>
                                <button type="button" aria-label="Записаться на прием" class="promo-item__btn btn">ЗАПИСАТЬСЯ НА ПРИЕМ</button>
                            </div>
                            <div class="promo-item__image">
                                <div class="promo-item__color"></div>
                                <img loading="lazy" alt="image" src="./img/promo/4.webp">
                            </div>
                        </div>
                        <div class="promo-item__empty"></div>
                        <img loading="lazy" alt="image" src="./img/draw-dark-blue-1.svg" class="promo-item__decor-right">
                    </div>
                </div>
                <div class="swiper-slide promo-item" style="background-color: #C5E7FF; color: #ffffff; --card-color: #00A9B4; --decor-color: #03B5C0; --list-color: #2CC8D2; --btn-color: #FFFFFF;">
                    <div class="promo-item__container">
                        <div class="promo-item__decor">
                            <div class="promo-item__decor-draw">
                                <img src="./img/draw-green.svg" alt="" loading="lazy" class="">
                            </div>
                            <div class="promo-item__decor-color"></div>
                        </div>
                        <div class="promo-item__content container">
                            <div class="promo-item__body">
                                <h3 class="promo-item__title title">
                                    Отбеливание <br> и реставрация
                                </h3>
                                <ul class="promo-item__list" style="max-width: 250px;">
                                    <li>Щадящее и результативное отбеливание Flash</li>
                                    <li>Реставрация за одно посещение</li>
                                    <li>Восстановление анатомической формы зубов</li>
                                </ul>
                                <button type="button" aria-label="Записаться на прием" class="promo-item__btn btn">ЗАПИСАТЬСЯ НА ПРИЕМ</button>
                            </div>
                            <div class="promo-item__image">
                                <div class="promo-item__color"></div>
                                <img loading="lazy" alt="image" src="./img/promo/5.webp">
                            </div>
                        </div>
                        <div class="promo-item__empty"></div>
                        <img loading="lazy" alt="image" src="./img/draw-green-1.svg" class="promo-item__decor-right">
                    </div>
                </div>
            </div>
            <div class="swiper-navigation container">
                <div class="custom-navigation">
                    <button type="button" aria-label="Предыдущий слайд" class="custom-navigation__btn custom-navigation__prev">
                        <svg><use xlink:href="#arrow-left"></use></svg>
                    </button>
                    <button type="button" aria-label="Следующий слайд" class="custom-navigation__btn custom-navigation__next">
                        <svg><use xlink:href="#arrow-right"></use></svg>
                    </button>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>