<section class="promo p-top">
    <div class="promo__container">
        <!-- <div class="promo__swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide promo-item">
                    <div class="promo-item__bg">
                        <img loading="lazy" alt="image" src="./img/promo/1.webp">
                    </div>
                    <div class="promo-item__container container">
                        
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</section>