<section class="rating">
    <div class="rating__container container">
        <a href="#" class="rating__item">
            <div class="rating__item-image">
                <img loading="lazy" alt="image" src="./img/rating/1.webp">
            </div>
            <b class="rating__value">5/5</b>
        </a>
        <a href="#" class="rating__item">
            <div class="rating__item-image">
                <img loading="lazy" alt="image" src="./img/rating/2.webp">
            </div>
            <b class="rating__value">4.8/5</b>
        </a>
        <a href="#" class="rating__item">
            <div class="rating__item-image">
                <img loading="lazy" alt="image" src="./img/rating/3.webp">
            </div>
            <b class="rating__value">5/5</b>
        </a>
        <a href="#" class="rating__item">
            <div class="rating__item-image">
                <img loading="lazy" alt="image" src="./img/rating/4.webp">
            </div>
            <b class="rating__value">5/5</b>
        </a>
        <a href="#" class="rating__item">
            <div class="rating__item-image">
                <img loading="lazy" alt="image" src="./img/rating/5.webp">
            </div>
            <b class="rating__value">4.9/5</b>
        </a><a href="#" class="rating__item">
            <div class="rating__item-image">
                <img loading="lazy" alt="image" src="./img/rating/6.webp">
            </div>
            <b class="rating__value">5/5</b>
        </a>
    </div>
</section>