<div class="section-top @@sectionClass">
    <div class="section-top__container">
        <div class="section-top__left">
            <img loading="lazy" alt="image" src="./img/duga.webp">
        </div>
        <div class="section-top__main">
            <ul class="section-top__list">
                <li class="section-top__list-item"><a href="#">Главная</a></li>
                <li class="section-top__list-item"><a href="#">@@pageName</a></li>
            </ul>
            <h1 class="section-top__title title">@@sectionTitle</h1>
        </div>
        <div class="section-top__right">
            <img loading="lazy" alt="image" src="./img/stars-side.webp">
        </div>
    </div>
</div>