<section class="services">
    <div class="services__container container">
        <h2 class="services__title title title-32">Платные стоматологические услуги в Челябинске для взрослых и детей
        </h2>
        <div class="services__content">
            <div class="services__side">
                <div class="services__items">
                    <a href="#" class="services__item">
                        <img loading="lazy" alt="image" src="./img/services/icon-1.svg" class="services__item-icon">
                        <p class="services__item-text">Имплантация</p>
                    </a>
                    <a href="#" class="services__item">
                        <img loading="lazy" alt="image" src="./img/services/icon-2.svg" class="services__item-icon">
                        <p class="services__item-text">Протезирование</p>
                    </a>
                    <a href="#" class="services__item">
                        <img loading="lazy" alt="image" src="./img/services/icon-3.svg" class="services__item-icon">
                        <p class="services__item-text">Лечение</p>
                    </a>
                    <a href="#" class="services__item">
                        <img loading="lazy" alt="image" src="./img/services/icon-4.svg" class="services__item-icon">
                        <p class="services__item-text">Удаление</p>
                    </a>
                    <a href="#" class="services__item">
                        <img loading="lazy" alt="image" src="./img/services/icon-5.svg" class="services__item-icon">
                        <p class="services__item-text">Детский прием</p>
                    </a>
                    <a href="#" class="services__item">
                        <img loading="lazy" alt="image" src="./img/services/icon-6.svg" class="services__item-icon">
                        <p class="services__item-text">Гигиена полости рта</p>
                    </a>
                </div>
                <a href="#" class="services__link">ВСЕ УСЛУГИ</a>
            </div>
            <div class="services__quote">
                <p class="services__quote-text">
                    <em>Стоматология «Свои люди» — клиника, где работают настоящие врачи! Наша концепция — безопасность,
                        технологичность, комфорт! Мы работаем для людей, которые ценят своё здоровье, время и деньги и
                        предлагаем качественное и безопасное лечение по разумным ценам!</em>
                </p>
                <div class="services__author">
                    <div class="services__author-image">
                        <img loading="lazy" alt="image" src="./img/services/author.webp" class="">
                    </div>
                    <img loading="lazy" alt="image" src="./img/services/podpis.webp" class="services__author-podpis">
                    <div class="services__author-info">
                        <h5 class="services__author-name">Евгения Антонинкова</h5>
                        <p class="services__author-desc">
                            Основатель стоматологии «Свои люди»
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>