@use 'lib' as *;

.blog {
	$self: &;

    padding-top: 48px;
    padding-bottom: 80px;

	&__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;

        @include media("<=lg") {
            gap: 16px;
            grid-template-columns: repeat(2, 1fr);
        }

        @include media("<=xs") {
            grid-template-columns: 100%;
        }
	}

}
