@use 'lib' as *;

.appointment {
    $self: &;

    max-width: 744px;
    height: fit-content;
    background: #FFFFFF;
    border-radius: 32px;
    overflow: visible;
    position: relative;

    &_callback {

        #{$self}__top {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 32px;

            @include media("<=md") {
                padding: 52px 32px 16px 32px;
            }
        }

        #{$self}__inputs {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 12px;
            width: 100%;

            .custom-input {
                input {
                    background: #F0F0F7;
                }
            }

            @include media("<=sm") {
                grid-template-columns: 100%;
            }
        }

        #{$self}__bottom {
            padding: 24px 56px 48px 56px;

            @include media("<=md") {
                padding: 16px 32px 28px 32px;
            }
        }

        #{$self}__close {
            @include media("<=md") {
                position: absolute;
                right: 20px;
                left: auto;
                top: 20px;
                width: 20px;
                height: 20px;
                background: transparent;
                border-radius: 0;

                svg {
                    width: 100%; height: 100%;
                    stroke: var(--green);
                }
            }
        }
    }

    &:not(.appointment_callback) {
        @include media("<=md") {
            max-width: 100%;
            width: 100%;
            border-radius: 0;
            min-height: 100%;

            .appointment__body {
                padding: 56px 16px 16px 16px;
            }

            .appointment__top {
                flex-direction: column;
                gap: 20px;
                align-items: start;
                padding: 0;
                margin-bottom: 20px;
                border-bottom: 0;
            }

            .appointment__close {
                position: fixed;
                right: 16px;
                top: 16px;
                width: 48px;
                height: 48px;
                left: auto;
            }
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        max-height: 100vh;
        overflow-y: auto;
    }

    &__top {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 0px;
        padding: 48px 56px 24px 56px;
        border-bottom: 1px solid #EAE9F3;

        @include media("<=md") {}
    }

    &__title {
        font-size: fluid(28px, 20px);

        b {
            color: var(--green);
        }
    }

    &__main {
        padding: 24px 56px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        @include media("<=md") {
            gap: 20px;
            padding: 0;
            margin-bottom: 32px;
        }
    }

    &__row {
        display: grid;
        grid-template-columns: minmax(44px, auto) 1fr;
        gap: 20px;

        @include media("<=md") {
            grid-template-columns: 100%;
            gap: 4px;
        }
    }

    &__row-title {
        padding-top: 5px;
        font-size: 14px;
        color: #25263B;

        @include media("<=md") {
            padding-top: 0;
        }
    }

    &__row-content {}

    &__row:nth-child(1) &__row-name {
        font-size: fluid(18px, 16px);
    }

    &__row:nth-child(2) &__row-name {
        font-size: fluid(24px, 20px);
    }

    &__row-name {
        font-weight: 700;
        display: flex;
        flex-direction: column;
        gap: 4px;

        >b {
            font-weight: 400;
            font-size: 14px;
        }
    }

    &__price {
        font-size: 28px;
        font-weight: 700;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;

        b {
            color: #9493A9;
            font-size: 18px;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 100%;
                height: 1px;
                background: var(--red);
            }
        }

        @include media("<=md") {
            margin-top: 20px;
        }
    }

    &__form.service-container__section-container.service-container__form-section {
        @include media(">md") {
            border-radius: 0px 0px 32px 32px;
            padding-top: 32px;

            .service-container__section-title {
                display: none;
            }
        }
    }


    &__close {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #00A9B4;
        border-radius: 100%;
        width: 64px;
        height: 64px;
        cursor: pointer;
        transition: all var(--trans);

        position: absolute;
        top: 0;
        left: calc(100% + 20px);

        svg {
            width: 20px;
            height: 20px;
            stroke: #fff;
        }

        &:hover {
            background-color: var(--green-hover);
        }
    }

}